<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="pageTemplate/pageHead::header('教程第一步')" />
</head>

<body class="">
<div class="wrapper ">

    <div class="main-panel">
        <th:block th:include="pageTemplate/navHead::navMain('第一步')" />


    </div>
</div>
<th:block th:include="pageTemplate/pageFooter::mainJS" />
</body>

</html>