<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="pageTemplate/pageHead::header('主页面')" />
</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                Vpython教程
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active  " onclick="goToPage(this, '../techCtl/techStepOne')">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="material-icons">dashboard</i>
                        <p>教程1</p>
                    </a>
                </li>
                <li class="nav-item " onclick="goToPage(this, '../techCtl/techStepTwo')">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="material-icons">person</i>
                        <p>教程2</p>
                    </a>
                </li>
                <li class="nav-item " onclick="goToPage(this, '../techCtl/techStepThree')">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="material-icons">content_paste</i>
                        <p>教程3</p>
                    </a>
                </li>
                <li class="nav-item " onclick="goToPage(this, '../techCtl/techStepFour')">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="material-icons">library_books</i>
                        <p>教程4</p>
                    </a>
                </li>
                <li class="nav-item " onclick="goToPage(this, '../techCtl/techStepFive')">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="material-icons">bubble_chart</i>
                        <p>教程5</p>
                    </a>
                </li>
                <li class="nav-item " onclick="goToPage(this, 'http://www.baidu.com')">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="material-icons">location_ons</i>
                        <p>教程6</p>
                    </a>
                </li>
                <li class="nav-item " onclick="goToPage(this, 'http://www.baidu.com')">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="material-icons">notifications</i>
                        <p>教程7</p>
                    </a>
                </li>
                <li class="nav-item " onclick="goToPage(this, 'http://www.baidu.com')">
                    <a class="nav-link" href="javascript:void(0)">
                        <i class="material-icons">language</i>
                        <p>教程8</p>
                    </a>
                </li>
                <li class="nav-item active-pro ">
                    <a class="nav-link" href="./upgrade.html">
                        <i class="material-icons">unarchive</i>
                        <p>教程9</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <iframe id="mainPage" src="../techCtl/techStepOne" frameborder="0" style="width: 95%;height: 95%;margin-left: 2%;background-color: #eee"></iframe>
        <div style="height: 5%;width: 100%;">
            ©2021 Chenhua Zhu. All rights reserved.
        </div>
    </div>
</div>
<th:block th:include="pageTemplate/pageFooter::mainJS" />
</body>
<script>
    function goToPage(el, url) {
        var currentLi = $(el);
        $('.nav li').removeClass('active');
        currentLi.addClass('active');
        $('#mainPage').attr('src', url);
    }
</script>
</html>